<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/dom-if-else/dom-if-else.html">
<link rel="import" href="../../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">

<link rel="import" href="../../../bower_components/juicy-jsoneditor/juicy-jsoneditor.html">
<link href="../../../bower_components/jsoneditor/dist/jsoneditor.min.css" rel="stylesheet" type="text/css">

<dom-module id="dashboard-setting">
<template>
  <h2>Setting Dashboard</h2>
  <form method="post" action="{{ urlphpfile }}" target="_submit">
    <template is="dom-repeat" items={{objsetting}}>

      <div hidden$="{{disable}}">
        <!-- <template is="dom-if" if="{{isFormat(item.logo.status, 1)}}">
        <paper-checkbox checked>Checked</paper-checkbox>
        </template> -->
        <h4>Default Logo</h4>
        <!-- <paper-input label="Logo" value="{{item.logo.value}}" disabled hidden$="{{hide}}"></paper-input> -->
        <paper-input label="Logo" value="/polymer-content/images/logo.png" disabled></paper-input>
        <paper-input label="Logo" name="logo_val" value="/polymer-content/images/logo.png" hidden></paper-input>
        <img src="/polymer-content/images/logo.png">
      </div>

      <div>
        <h4>Custom Logo Setting</h4>
        <paper-checkbox checked="{{item.customlogo.status}}" on-change="showMe">Checked</paper-checkbox>
        <input type="checkbox" name="customlogo" checked="{{item.customlogo.status}}" hidden>
        <paper-input label="Custom Logo" name="customlogo_val" value="{{item.customlogo.value}}" hidden$="{{hide}}"></paper-input>
      </div>

      <div>
        <h4>Site Name Setting</h4>
        <paper-checkbox checked="{{item.sitename.status}}">Checked</paper-checkbox>
        <input type="checkbox" name="sitename" checked="{{item.sitename.status}}" hidden>
        <paper-input label="Sitename" name="sitename_val" value="{{item.sitename.value}}"></paper-input>
      </div>

      <div>
        <h4>Home Page Setting</h4>
        <paper-checkbox checked="{{item.homepage.status}}">Checked</paper-checkbox>
        <input type="checkbox" name="homepage" checked="{{item.homepage.status}}" hidden>
        <paper-input label="Home Page" name="homepage_val" value="{{item.homepage.value}}"></paper-input>
      </div>
    </template>
    <paper-button raised on-click="_submit">Submit</paper-button>
    <!-- <paper-button raised on-click="_reset">Reset</paper-button> -->
  </form>

  <table align="center" width="790px" height="100%">
    <tr>
      <td><input type="text" id="url" style="width: 100%;" value='//thoitiettoday.tk/polymer-admin/data/dashboard-setting/dashboard-setting.json'></td>
    </tr>
    <tr>
      <td id="jsoneditor-setting"></td>
    </tr>
  </table>

  <script>
    var container = document.getElementById('jsoneditor-setting');
    var editor = new JSONEditor(container);
    var url = document.getElementById("url").value;
    $.ajax({
      'type': 'GET',
      'url': url,
      'dataType': 'json',
      'success': function (doc) {
        editor.set(doc);
      }
    });
  </script>
</template>
<script>
  Polymer({
    is: 'dashboard-setting',

    properties: {
      hide: {
        type: Boolean,
        value: true // init the value to true so it will be hidden on page load
      },
      disable: {
        type: Boolean,
        value: false // init the value to true so it will be hidden on page load
      },
      urlphpfile: {
        type: String,
        value: "//thoitiettoday.tk/polymer-admin/data/dashboard-setting/dashboard-setting.php"
      },
      urlreturn: {
        type: String,
        value: "//thoitiettoday.tk/polymer-admin/data/dashboard-setting/dashboard-setting.json"
      },
      urldefault: {
        type: String,
        value: "//thoitiettoday.tk/polymer-admin/data/dashboard-setting/dashboard-setting-default.json"
      },
      objsetting: {
        type: Object,
        value: function(){
          var mydata = [];

          $.ajax({
            url: '//thoitiettoday.tk/polymer-admin/data/dashboard-setting/dashboard-setting.json',
            async: false,
            dataType: 'json',
            success: function (json) {
              //console.log(json);
              mydata = json;
            }
          });

          if($.isEmptyObject(mydata)) {
            $.ajax({
              url: '//thoitiettoday.tk/polymer-admin/data/dashboard-setting/dashboard-setting-default.json',
              async: false,
              dataType: 'json',
              success: function (json) {
                //console.log(json);
                mydata = json;
              }
            });
          }
          //console.log(mydata);
          return mydata;
        }
      }
    },

    getjson: function(url) {
      var mydata = [];

      $.ajax({
        url: url,
        async: false,
        dataType: 'json',
        success: function (json) {
          //console.log(json);
          mydata = json;
        }
      });

      return mydata;
    },

    getKeyValue: function(obj) {
      return _.map(obj, function(value, key) {
        return {
          key: key,
          value: value
        };
      });
    },

    isFormat: function(code, format) {
      return code === format;
    },

    showMe: function(event) {
      if(event.target.checked) {
        this.disable = !this.disable,
        this.hide = !this.hide
      } else {
        this.disable = false,
        this.hide = true
      }
    },

    _submit: function(event) {
      //this.urlreturn = this.urlreturn;
      Polymer.dom(event).localTarget.parentElement.submit();
      //this.urlreturn = "//thoitiettoday.tk/polymer-admin/data/dashboard-setting/dashboard-setting.json";
      //console.log(this.urlreturn);
    },
    _reset: function(event) {
      //this.urlreturn = "//thoitiettoday.tk/polymer-admin/data/dashboard-setting/dashboard-setting-default.json";
      //window.location.reload(true);
      Polymer.dom(event).localTarget.parentElement.submit();
      //console.log(this.urlreturn);
    }
  })
</script>
</dom-module>
