<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../../bower_components/neon-animation/neon-animations.html">

<link rel="import" href="../../../bower_components/juicy-jsoneditor/juicy-jsoneditor.html">
<link href="../../../bower_components/jsoneditor/dist/jsoneditor.min.css" rel="stylesheet" type="text/css">

<link rel="import" href="../actions/pages/add-new.html">

<dom-module id="dashboard-pages">
<template>
  <style>
    table {
      border-collapse: collapse;
      margin-bottom: 20px;
      width: 100%;
    }

    thead {
      background-color: #666;
      border-bottom: 3px solid #333;
      color: #fff;
    }

    tr {
      border-bottom: 1px solid #dddddd;
      text-align: left;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }

    th, td {
      padding: 8px;
    }
  </style>

  <h2>Page Dashboard</h2>
  <paper-button raised onclick="animated.open()">open</paper-button>
  <paper-dialog id="animated" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>
    <page-add-new></page-add-new>
  </paper-dialog>

  <table>
    <thead>
      <tr>
        <th>Page Title</th>
        <th>Author</th>
        <th>Publish</th>
      </tr>
    </thead>
    <tbody>
      <template is="dom-repeat" items={{objsetting}}>
        <tr>
          <td>{{ item.page_title }}</td>
          <td>{{ item.author }}</td>
          <td>{{ item.publish }}</td>
        </tr>
      </template>
    </tbody>
  </table>

  <table align="center" width="790px" height="100%">
    <tr>
      <td><input type="text" id="url" style="width: 100%;" value='//thoitiettoday.tk/polymer-admin/data/dashboard-pages/dashboard-pages-default.json'></td>
    </tr>
    <tr>
      <td id="jsoneditor-pages"></td>
    </tr>
  </table>

  <script>
    var container = document.getElementById('jsoneditor-pages');
    var editor = new JSONEditor(container);
    var url = document.getElementById("url").value;
    $.ajax({
      'type': 'GET',
      'url': url,
      'dataType': 'json',
      'success': function (doc) {
        editor.set(doc);
      }
    });
  </script>
</template>
<script>
  Polymer({
    is: 'dashboard-pages',

    properties: {
      urlphpfile: {
        type: String,
        value: "//thoitiettoday.tk/polymer-admin/data/dashboard-pages/dashboard-pages.php"
      },
      urlreturn: {
        type: String,
        value: "//thoitiettoday.tk/polymer-admin/data/dashboard-pages/dashboard-pages.json"
      },
      urldefault: {
        type: String,
        value: "//thoitiettoday.tk/polymer-admin/data/dashboard-pages/dashboard-pages-default.json"
      },
      objsetting: {
        type: Array,
        value: function(){
          var mydata = [];

          $.ajax({
            url: '//thoitiettoday.tk/polymer-admin/data/dashboard-pages/dashboard-pages-default.json',
            async: false,
            dataType: 'json',
            success: function (json) {
              mydata = json;
            }
          });

          /*if($.isEmptyObject(mydata)) {
            $.ajax({
              url: '//thoitiettoday.tk/polymer-admin/data/dashboard-setting/dashboard-setting-default.json',
              async: false,
              dataType: 'json',
              success: function (json) {
                //console.log(json);
                mydata = json;
              }
            });
          }*/
          //console.log(mydata);
          return mydata;
        }
      }
    }
  })
</script>
</dom-module>
