<link rel="import" href="../../../bower_components/polymer/polymer.html">

<dom-module id="block-facebook-fanpage">
  <template>
    <style>

    </style>

    <h2 class="block-title">Facebook Fanpage</h2>
    <div class="block-inner">
      <div class="fb-page" data-href="https://www.facebook.com/SVietnamTravelling/" data-tabs="timeline" data-width="300" data-height="270" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/SVietnamTravelling/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/SVietnamTravelling/">S-Vietnam International Services</a></blockquote></div>
    </div>
  </template>

  <script>
    Polymer({
      is: 'block-facebook-fanpage',
    });
  </script>
</dom-module>
